main {
  display: block;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  margin-bottom: 1rem;
}
ul {
  margin-top: 0;
}
strong {
  font-weight: bolder;
}
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
img {
  border-style: none;
}
img,
svg {
  vertical-align: middle;
}
svg {
  overflow: hidden;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
}
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col,
.col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn:disabled {
  opacity: 0.65;
}

@media (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}
.positionRelative {
  position: relative;
}
.textAlignCenter {
  text-align: center !important;
}
a,
a:focus,
a:hover {
  color: var(--blue);
}
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}
strong {
  font-weight: 600;
}
body > * {
  flex-shrink: 0;
}
@media (max-width: 780px) {
  .container {
    width: auto;
  }
}
.btn {
  display: inline-block;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  white-space: nowrap;
  vertical-align: middle;
  outline: none !important;
  background: 0;
  background-clip: padding-box;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: -moz-none;
  user-drag: none;
}
.btn {
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.btn,
.btn:active,
.btn:focus,
.btn:hover {
  text-decoration: none;
  color: #fff;
  box-shadow: none;
}
.btn-default {
  padding: 0 10px;
  border: 1px solid var(--blue);
  border-radius: 2px;
  overflow: hidden;
  font-size: 12px;
  line-height: 28px;
  background-color: var(--blue);
}
.titleHome {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.344;
  color: var(--grey-300);
}
.titleHome + .subTitle {
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.222;
}
.titleHome + .subTitle {
  text-align: center;
  color: var(--grey-300);
}
@media (min-width: 992px) {
  .titleHome + .subTitle {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .titleHome.titleHome {
    margin-top: 0;
    padding-top: 20px;
    font-size: 24px;
    line-height: 1.2;
  }
  .titleHome + .subTitle {
    margin-bottom: 15px;
    font-size: 14px;
  }
}
.mainBlock {
  position: relative;
  width: 100%;
  padding: 5px 5px 10px;
  overflow: hidden;
  text-align: left;
  color: var(--grey-300);
}
p {
  margin-bottom: 10px;
}
label {
  margin-bottom: 0;
  font-weight: 600;
}
@media (min-width: 992px) {
  label {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
.switch {
  display: block;
}
.mainContent {
  position: relative;
  flex: 1 1 auto;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .mainContent {
    width: 100%;
    padding-bottom: 5px;
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .mainContent {
    width: 100%;
    padding-bottom: 15px;
  }
}
.pricingHeader {
  position: relative;
  padding: 43px 37px 192px;
  color: #fff;
  background-color: #5CB1D8;
  overflow: hidden;
}
.pricingHeader__title.pricingHeader__title {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.188;
}
.pricingHeader p {
  margin: 0;
}
.pricingAvantages {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--grey-100);
}
.pricingGarantee {
  margin: 0 auto;
  padding: 30px;
  max-width: 630px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 26px;
  list-style-type: none;
  color: var(--grey-300);
  background: var(--grey-100);
}
.pricingGarantee span {
  padding-right: 7px;
  font-weight: 700;
  color: var(--green);
}
.pricingSwitch {
  display: flex;
  position: relative;
  left: -4px;
  align-items: flex-start;
  justify-content: center;

}

.switchTitle {
  cursor: pointer;
  margin-bottom: 0;
  text-transform: uppercase;
}
.switchTitle + p {
  z-index: 1;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  font-size: 15px;
  font-style: italic;
  line-height: 1.067;
}
.pricingWrapper:not(.pricingWrapper--yearly) .col--1 .switchTitle,
.switchTitle + p {
  color: var(--blue);
}
.switchWrapper {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 20px;
  cursor: pointer;
}
.switchWrapper.switchWrapper--hasBackground {
  background: var(--blue);
}
.switchWrapper [type="checkbox"] {
  display: none;
}
.switch {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #fff;
  transition: left 0.2s ease;
}
.switchWrapper [type="checkbox"]:checked + .switch {
  left: calc(100% - 26px);
}
.pricingCols {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--grey-100);
}
.pricingCol__top {
  border: 1px solid #e5e5e9;
  border-radius: 2px;
  text-align: center;
  background: #fff;
}
.pricingCol-Title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 84px;
  margin: 0 0 14px;
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 600;
  color: #666;
}
.pricingCol-Title sup{
text-transform: uppercase; 
  color: #61B7D7;
  padding-bottom: 11px;
}
.pricingPrice {
  display: inline-block;
  position: relative;
  left: -1px;
  height: 54px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
  line-height: 54px;
  vertical-align: middle;
  color: var(--grey-300);
}
.pricingAmount {
  font-size: 54px;
}
.pricingPrice.pricingPrice--free .pricingAmount {
  font-size: 38px;
}
.pricingPrice sup {
  z-index: 1;
  position: absolute;
  top: -43px;
  right: -59px;
  font-size: 18px;
}
.pricingPrice sup span {
  font-size: 12px;
  color: green;
}
.pricingPrice__frequency {
  position: relative;
  top: -1px;
  left: 5px;
  text-transform: uppercase;
  font-size: 18px;
}
.pricingPrice__description {
  margin: 0 45px 31px;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  min-height: 38px;
}
.pricingCol__top .btn {
  display: block;
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 5px 24px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: #4E9DD5;
}

.pricingCol__top .btn:hover {
  background: #63cbdb;
}
.pricingPrice__help p {
  margin: 15px 0 0;
  font-size: 12px;
  line-height: 15px;
  color: var(--grey-300);
}
.pricingDetails {
  position: relative;
  left: 2px;
  margin: 30px 0 0;
  padding-left: 0;
  font-size: 16px;
  line-height: 32px;
  list-style-type: none;
  color: var(--grey-300);
}
.pricingDetails del {
  margin-left: 32px;
  color: var(--grey-200);
}
.pricingDetails span {
  padding-left: 32px;
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg height='20px' viewBox='0 0 20 20' width='20px' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='matrix(0.043456, 0, 0, 0.043456, 0, 0)'%3E%3Cpath d='m187.777344 286.496094c-3.125 3.117187-8.183594 3.117187-11.304688 0l-39.640625-39.574219-11.3125 11.269531 56.601563 56.617188 147.085937-147.089844-11.328125-11.328125zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%2360B5D8'/%3E%3Cpath d='m423.128906 175.425781 6.304688-60.386719-55.480469-24.6875c-1.8125-.804687-3.261719-2.253906-4.066406-4.0625l-24.679688-55.480468-60.398437 6.3125c-1.960938.195312-3.925782-.335938-5.519532-1.488282l-49.167968-35.632812-49.167969 35.632812c-1.597656 1.152344-3.5625 1.683594-5.519531 1.488282l-60.402344-6.3125-24.679688 55.480468c-.800781 1.808594-2.25 3.257813-4.0625 4.054688l-55.480468 24.695312 6.304687 60.386719c.203125 1.960938-.324219 3.929688-1.480469 5.527344l-35.632812 49.167969 35.632812 49.167968c1.15625 1.597657 1.683594 3.566407 1.480469 5.527344l-6.304687 60.382813 55.480468 24.6875c1.808594.804687 3.257813 2.253906 4.0625 4.066406l24.679688 55.480469 60.402344-6.3125c.269531 0 .550781-.042969.796875-.042969 1.6875 0 3.328125.535156 4.691406 1.53125l49.199219 35.628906 49.167968-35.628906c1.59375-1.160156 3.558594-1.691406 5.519532-1.488281l60.398437 6.3125 24.679688-55.480469c.804687-1.8125 2.253906-3.257813 4.066406-4.058594l55.480469-24.695312-6.304688-60.382813c-.207031-1.960937.320313-3.929687 1.480469-5.527344l35.628906-49.167968-35.628906-49.167969c-1.160156-1.597656-1.6875-3.566406-1.480469-5.527344zm-76.953125-2.050781-158.398437 158.402344c-3.125 3.121094-8.1875 3.121094-11.3125 0l-67.921875-67.921875c-1.503907-1.5-2.347657-3.539063-2.347657-5.664063s.84375-4.164062 2.347657-5.664062l22.640625-22.558594c3.121094-3.113281 8.175781-3.113281 11.296875 0l39.640625 39.558594 130.101562-130.101563c3.125-3.125 8.1875-3.125 11.3125 0l22.640625 22.636719c3.125 3.125 3.125 8.191406 0 11.3125zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%2360B5D8'/%3E%3C/g%3E%3C/svg%3E");  background-position: 0;
  background-repeat: no-repeat;
}
@media (max-width: 410px) {
  .switchTitle + p {
    position: static;
    margin-bottom: 0;
    text-align: right;
    font-size: 12px;
  }
  .pricingSwitch {
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .pricingLogo {
    text-align: center;
  }
  .pricingLogo svg {
    width: 70%;
    height: auto;
    max-width: 100%;
  }
  .pricingHeader {
font-size: 11px;
  }
  .pricingHeader p {
    margin: 15px 0;
  }
  .pricingHeader__illu img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .pricingAvantages {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .pricingGarantee {
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
  }
  .pricingCols {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .mainBlock .pricingCol-Title {
    height: 40px;
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 24px;
  }
  .pricingCol {
    margin-bottom: 15px;
  }
  .pricingCol__top {
    padding-bottom: 15px;
  }
  .pricingPrice__help {
    margin-right: 15px;
    margin-left: 15px;
  }
  .pricingDetails {
    margin: 15px 0 30px;
  }
  .pricingPrice__description {
    margin: 0 15px 15px;
  }
}
@media (min-width: 992px) {
  .pricingHeader {
    font-size: 18px;
    line-height: 1.556;
  }
  .pricingHeader__title.pricingHeader__title {
    font-size: 32px;
  }
  .pricingHeader__illu {
    z-index: 1;
    position: absolute;
    right: 23px;
    bottom: 0;
    box-shadow: 0 -8px 7px 0 rgba(0, 0, 0, 0.1);
  }
  .pricingCol__top {
    height: 328px;
  }
}
