.wrapper-list-conversation {
	max-height: 550px;
	height: auto;
	background: #eeeff3;
	padding: 0 20px;
	min-height: 60px
}

#_10nar-header .list-message .list-message-box-body li a.link {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%
}

.form-group .checkbox input[type="checkbox"].has-visited~span.text-choosen:after {
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	width: 15px;
	height: 15px
}

.wrapper-list-conversation {
	overflow: hidden
}

.btn-reject {
	background: #fff;
	color: #4E9DD5;
	padding: 4px 20px;
	border: 1px solid #4E9DD5;
	display: inline-block;
	border-radius: 45px;
	text-align: center;
	font-size: 12px
}

.name-customer-order {
	cursor: pointer
}

.opening-message .hide-content {
	height: 150px;
	overflow: hidden
}

.opening-message .show-opening-message {
	cursor: pointer;
	text-align: left;
	color: #0cb;
	margin: 10px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px
}

.post-job .moxie-shim {
	left: 0!important;
	top: 0!important
}

@media(max-width:414px) {
	.col-mobile-12 {
		width: 100%
	}
}

._10nar .mjob-item .status-label {
	right: 15px;
	top: 15px
}

._10nar .mjob-item .status-label span {
	border-radius: 5px!important;
	box-shadow: none
}

._10nar .main-dashboard .mjob-item .status-label {
	left: 15px
}

._10nar .slider-wrapper.default>div {
	display: none;
	color: blue
}

._10nar .slider-wrapper.default>div #slides {
	font-weight: 400;
	color: white;
	line-height: normal
}

._10nar .slider-wrapper.default>div #slides img {
	border: 0
}

._10nar .slider-wrapper.default>div #slides>a {
	line-height: 0
}

._10nar .slider-wrapper.default>div #slides h1,
._10nar .slider-wrapper.default>div #slides h2,
._10nar .slider-wrapper.default>div #slides h3,
._10nar .slider-wrapper.default>div #slides h4 {
	padding: 1% 3% 1% 3%;
	color: #000;
	background-color: #fff;
	line-height: normal;
	text-align: center
}

._10nar .slider-wrapper.default>div #slides span,
._10nar .slider-wrapper.default>div #slides p {
	line-height: normal
}

._10nar .slider-wrapper.default>div .social {
	position: absolute;
	top: 4%;
	left: 3%;
	z-index: 10000
}

._10nar .slider-wrapper.default>div .social div {
	float: left;
	margin-right: 10px
}

._10nar .slider-wrapper.default>div #bullets {
	height: 10px;
	position: absolute;
	top: 4%;
	right: 3%;
	z-index: 10000;
	display: none
}

._10nar .slider-wrapper.default>div #bullets .bullet {
	min-height: 12px;
	min-width: 12px;
	border-radius: 6px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	background-color: #b4b4b4;
	background-color: rgba(255, 255, 255, 0.6)
}

._10nar .slider-wrapper.default>div #bullets .bullet:hover {
	background-color: #fff
}

._10nar .slider-wrapper.default>div #bullets .bullet.selected {
	background-color: #fff
}

._10nar .slider-wrapper.default>div #left {
	position: absolute;
	width: 47px;
	height: 47px;
	background-image: url(../images/slider/arrow.png);
	left: 2%;
	top: 50%;
	margin-top: -24px;
	z-index: 999999;
	cursor: pointer
}

@media(max-width:1199px) {
	._10nar .slider-wrapper.default>div #left {
		display: none
	}
}

._10nar .slider-wrapper.default>div #right {
	position: absolute;
	width: 47px;
	height: 47px;
	background-image: url(../images/slider/arrow.png);
	background-position: right top;
	right: 2%;
	top: 50%;
	margin-top: -24px;
	z-index: 999999;
	cursor: pointer
}

@media(max-width:1199px) {
	._10nar .slider-wrapper.default>div #right {
		display: none
	}
}

.btn-diplomat {
	border-radius: 4px;
	padding: 12px 25px!important;
	background: #6ACBDA;
	border: 0;
	color: #fff;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase
}

.btn-diplomat:hover {
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.btn-diplomat:hover,
.btn-diplomat:focus,
.btn-diplomat:active {
	border: 0;
	outline: 0;
	text-decoration: none;
	color: white
}

.btn-diplomat .fa {
	padding-left: 10px
}

._10nar .fa-star-o:before {
	color: #dadada;
	font-size: 11px
}

._10nar .fa-star:before,
._10nar .fa-star-half-empty:before,
._10nar .fa-star-half-full:before,
._10nar .fa-star-half-o:before {
	font-size: 11px
}

._10nar .star-vote {
	padding: 0
}

._10nar .btn-reject,
._10nar .btn-accept-offer,
._10nar .btn-decline,
._10nar .btn-send-offer {
	border-radius: 4px!important
}

._10nar .featured-job {
	margin-bottom: 50px
}

._10nar .list-order .label-status,
._10nar .list-job .label-status,
._10nar .current-order .label-status {
	border-radius: 4px;
	box-shadow: none;
	right: 0!important
}

@media(max-width:1199px) {
	._10nar .list-order .label-status,
	._10nar .list-job .label-status,
	._10nar .current-order .label-status {
		width: 85px!important
	}
}

@media(max-width:767px) {
	._10nar .list-order .label-status,
	._10nar .list-job .label-status,
	._10nar .current-order .label-status {
		right: -27px!important
	}
}

._10nar .post-detail #comments .form-submit .submit {
	border-radius: 4px;
	padding: 15px 25px;
	box-shadow: none
}

._10nar .waves-light .waves-ripple {
	background-color: rgba(0, 0, 0, 0.3)!important
}

._10nar .block-slider {
	position: relative
}

@media(max-width:767px) {
	._10nar .block-slider .slideshow {
		display: none
	}
}

@media(max-width:1199px) {
	._10nar .block-slider {
		height: auto
	}
	._10nar .block-slider img {
		height: 250px!important
	}
}

._10nar .block-slider .statistic-job-number {
	bottom: 33px
}

@media(max-width:1199px) {
	._10nar .block-slider .statistic-job-number {
		bottom: -4px
	}
}

@media(max-width:991px) {
	._10nar .block-slider .statistic-job-number {
		bottom: -4px
	}
}

@media(max-width:767px) {
	._10nar .block-slider .statistic-job-number .link-last-job,
	._10nar .block-slider .statistic-job-number .bounce {
		color: #2a394e
	}
}

._10nar .block-slider .search-form {
	text-align: center;
	position: absolute;
	vertical-align: middle;
	color: #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	z-index: 9
}

@media(max-width:767px) {
	._10nar .block-slider .search-form {
		position: relative;
		left: 0;
		top: 0;
		-webkit-transform: inherit;
		transform: inherit
	}
}

._10nar .block-slider .search-form h1 {
	text-shadow: 2px 2px 10px #333;
	letter-spacing: 2px
}

@media(max-width:1199px) {
	._10nar .block-slider .search-form h1 {
		font-size: 30px;
		margin-bottom: 10px;
		margin-top: 0
	}
}

@media(max-width:991px) {
	._10nar .block-slider .search-form h1 {
		margin: 0;
		font-size: 30px;
		margin-bottom: 10px;
		margin-top: 0
	}
}

@media(max-width:767px) {
	._10nar .block-slider .search-form h1 {
		display: none
	}
}

._10nar .block-slider .search-form h4 {
	width: 70%;
	margin: 0 auto 30px auto
}

@media(max-width:1199px) {
	._10nar .block-slider .search-form h4 {
		font-size: 16px;
		margin-bottom: 10px
	}
}

@media(max-width:991px) {
	._10nar .block-slider .search-form h4 {
		margin: 0 auto 20px auto;
		font-size: 16px;
		margin-bottom: 10px
	}
}

@media(max-width:767px) {
	._10nar .block-slider .search-form h4 {
		display: none
	}
}

._10nar .block-slider .outer-form-search {
	background: #fff;
	border-radius: 4px;
	padding: 8px 0;
	width: 100%;
	margin: 0 auto;
	color: #2a394e;
	font-size: 20px;
	position: relative;
	text-align: left;
	font-weight: 400
}

@media(max-width:767px) {
	._10nar .block-slider .outer-form-search {
		border: 1px solid #d2d2d2
	}
}

._10nar .block-slider .outer-form-search .text {
	margin-left: 30px
}

@media(max-width:767px) {
	._10nar .block-slider .outer-form-search .text {
		font-size: 16px;
		margin-left: 10px
	}
}

._10nar .block-slider .outer-form-search input {
	border: 0;
	height: 45px;
	width: 308px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300
}

@media(max-width:767px) {
	._10nar .block-slider .outer-form-search input {
		font-size: 16px;
		width: 33%
	}
}

._10nar .block-slider .outer-form-search input::-webkit-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px
}

@media(max-width:767px) {
	._10nar .block-slider .outer-form-search input::-webkit-input-placeholder {
		font-size: 16px
	}
}

._10nar .block-slider .outer-form-search input:-moz-placeholder {
	opacity: 1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px
}

@media(max-width:767px) {
	._10nar .block-slider .outer-form-search input:-moz-placeholder {
		font-size: 16px
	}
}

._10nar .block-slider .outer-form-search input::-moz-placeholder {
	opacity: 1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px
}

@media(max-width:767px) {
	._10nar .block-slider .outer-form-search input::-moz-placeholder {
		font-size: 16px
	}
}

._10nar .block-slider .outer-form-search input:-ms-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px
}

@media(max-width:767px) {
	._10nar .block-slider .outer-form-search input:-ms-input-placeholder {
		font-size: 16px
	}
}

._10nar .block-slider .outer-form-search .text-search {
	text-transform: uppercase
}

._10nar .block-slider .outer-form-search .btn-find {
	padding: 20px 30px;
	border-radius: 0 4px 4px 0;
	float: right;
	position: relative;
	bottom: 8px;
	height: 61px;
	font-family: 'Montserrat', sans-serif;
	text-shadow: none
}

._10nar .block-slider .outer-form-search .btn-find:hover {
	box-shadow: none
}

@media(max-width:767px) {
	._10nar .block-slider .outer-form-search .btn-find {
		padding: 20px!important
	}
}

@media(max-width:767px) {
	._10nar .block-slider .outer-form-search .btn-find .search-title:before {
		content: "\f002";
		font-family: "FontAwesome"
	}
}

@media(max-width:767px) {
	._10nar .block-slider .outer-form-search .btn-find .text-search {
		display: none
	}
}

._10nar .line-text {
	background: #6ACBDA;
	width: 50px;
	height: 1px;
	margin: 0 auto
}

._10nar .block-items-diplomat {
	background: #f4f4f4
}

._10nar h6 {
	text-align: center;
	font-size: 27px;
	color: #333;
	font-weight: 300;
	margin-top: 70px;
	padding-bottom: 15px;
	margin-bottom: 0
}

@media(max-width:991px) {
	._10nar h6 {
		margin-top: 30px;
		font-size: 24px
	}
}

._10nar .block-items {
	margin: 0 auto
}

._10nar .block-intro-why ul {
	margin: 50px 0 50px 0;
	padding-left: 0
}

._10nar .block-intro-why ul li {
	display: inline-block;
	text-align: center
}

@media(max-width:767px) {
	._10nar .block-intro-why ul li {
		margin-bottom: 20px
	}
}

._10nar .block-intro-why ul li a {
	color: #2a394e
}

._10nar .block-intro-why ul li a:hover {
	text-decoration: none
}

._10nar .block-intro-why ul li .title {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 10px
}

._10nar .block-categories {
	background: #f4f4f4
}

._10nar .block-categories ul {
	margin: 50px 0 60px 0;
	padding-left: 0
}

._10nar .block-categories ul li {
	text-align: center;
	display: block;
	margin-bottom: 20px
}

._10nar .block-categories ul li .inner {
	position: relative;
	overflow: hidden
}

._10nar .block-categories ul li .category-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	z-index: 2
}

._10nar .block-categories ul li .name-categories {
	text-align: center;
	position: absolute;
	vertical-align: middle;
	color: #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	margin: 0;
	font-size: 24px;
	padding: 15px;
	width: 100%;
	overflow: hidden;
	text-shadow: 2px 2px 10px #333;
	font-family: 'Montserrat', sans-serif;
	z-index: 5
}

@media(max-width:991px) {
	._10nar .block-categories ul li .name-categories {
		font-size: 16px
	}
}

._10nar .block-categories ul li img {
	border-radius: 4px;
	width: 100%;
	height: auto;
	-webkit-transform: scale(1);
	transform: scale(1);
	transition: .3s ease-in-out
}

._10nar .block-categories ul li:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

._10nar .block-categories ul li:hover .category-overlay {
	background: rgba(0, 0, 0, 0.3);
	transition: .3s ease-in-out
}

._10nar .block-login {
	width: 100%;
	position: relative
}

._10nar .block-login .background-opacity {
	background: #3f99d3;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10
}

._10nar .block-login .inner {
	position: relative;
	vertical-align: middle;
	color: #fff;
	text-align: center;
	z-index: 11;
	width: 70%;
	padding: 40px 40px
}

@media(max-width:767px) {
	._10nar .block-login .inner {
		padding: 20px
	}
}

._10nar .block-login .inner .main-title {
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 2px
}

@media(max-width:991px) {
	._10nar .block-login .inner .main-title {
		font-size: 26px
	}
}

._10nar .block-login .inner .sub-title {
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 50px
}

._10nar .block-login .inner .btn-link-site {
	padding: 18px 25px;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif
}

._10nar .block-login .inner .btn-link-site:hover,
._10nar .block-login .inner .btn-link-site:focus {
	color: #fff
}

.hex {
	position: relative;
	margin: 0 auto;
	width: 5.5em;
	height: 8.8em;
	border-radius: 1em/.5em;
	background: #fff;
	transition: opacity .5s;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 4px
}

.hex:before,
.hex:after {
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background: inherit;
	content: ''
}

.hex:before {
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
	right: 0;
	top: 0
}

.hex:after {
	-webkit-transform: rotate(-60deg);
	transform: rotate(-60deg);
	left: 0;
	top: 0
}

._10nar .current-order .name-customer-order {
	width: 60%
}

._10nar .main-dashboard .mjob-list--horizontal .mjob-item .status-label {
	left: 67px;
	top: 8px;
	right: initial
}

@media(max-width:414px) {
	._10nar .main-dashboard .mjob-list--horizontal .mjob-item .status-label {
		top: 15px;
		left: initial;
		right: 15px
	}
}

._10nar .order-item .status-label {
	top: 8px;
	left: 165px;
	right: initial
}

@media(max-width:414px) {
	._10nar .order-item .status-label {
		top: 15px;
		left: initial
	}
}

.mainMenu {
	display: flex;
	position: relative;
	align-items: center;
	height: 80px;
	margin-left: auto
}

.mainMenu>* {
	margin-left: 22px
}

.mainMenu__item {
	display: block;
	position: relative;
	padding: 0;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: currentcolor;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	line-height: var(--mainMenu__item-lineHeight);
	list-style-type: none;
	color: #22222c
}

.mainMenu__item.btn-seller {
	color: #fff;
	padding: 0 10px
}

.mainMenu a {
	flex-shrink: 0
}

.btn-seller {
	padding: 0 10px;
	border-radius: 2px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	text-transform: uppercase;
	line-height: 38px;
	background-color: #6ACBDA;
	border: 1px solid #19a68a;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1
}

.btn-seller:hover {
	background-color: #128ea1
}

.btn {
	display: block;
	width: 100%;
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: 600
}

.btn-greyLight {
	padding: 0 10px;
	border-radius: 2px;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	color: #54545e;
	background: #efeff3
}

.d-sm-block {
	display: block!important
}

.sA-name {
	display: flex;
	margin: 4px 0 6px;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	color: #54545e;
	flex-shrink: 0
}

.sA-name span {
	color: #999
}

.sA-name__nd {
	font-style: normal
}

.flexTextOverflowEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.serviceAuthor {
	display: flex;
	z-index: 10;
	position: relative;
	margin-top: 0;
	max-height: 47px;
	overflow: hidden;
	font-size: 0
}

.sA-avatar {
	position: relative;
	flex-shrink: 0;
	display: flex;
	margin-right: 15px;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	font-weight: 600;
	background-color: #f8f8fa;
	background-position: 50%;
	background-repeat: no-repeat
}

.badgeVerified {
	position: relative;
	margin-left: 8px
}

.alignItemsCenter {
	align-items: center
}

.displayFlex {
	display: flex
}

.countComments {
	margin-left: 8px;
	font-size: 12px;
	color: #999
}

.siteAvis .stars {
	margin-bottom: 0
}

.stars {
	margin-bottom: 0;
	display: flex;
	align-items: center;
	color: #54545e
}

.stars .star {
	flex-shrink: 0;
	font-size: 0
}

.stars .star+.star {
	margin-left: 5px
}

.mainFooter {
	color: #fff;
	padding: 62px 0 87px;
	font-size: 14px;
	line-height: 23px;
	background-color: #22222c
}

.grid-footer {
	column-gap: 44px;
	grid-template-columns: repeat(3, minmax(176px, 1fr)) minmax(146px, 240px);
	display: grid;
	justify-content: center;
	column-gap: var(--gutter);
	row-gap: var(--gutter)
}

.mainFooter-title {
	display: block;
	margin: 0 0 17px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2
}

.stat {
	margin-bottom: 10px
}

.statItem {
	display: inline-block;
	margin-right: 7px;
	padding: 0 10px;
	border-radius: 2px;
	line-height: 30px;
	vertical-align: middle;
	color: #fff;
	background-color: #54545e
}

.siteAvis {
	padding-top: 4px
}

.siteAvis__number {
	margin-left: 15px;
	font-size: 20px
}

.siteAvis__wording {
	margin-top: 12px
}

.mainFooter__bottom {
	margin-top: 20px;
	padding-top: 33px;
	border-top: 1px solid #363640
}

.footer__row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px
}

.socials {
	text-align: right;
	font-size: 0
}

.social+.social {
	margin-left: 12px
}

.social {
	display: inline-block;
	line-height: 1.2;
	vertical-align: middle
}

.copyright {
	margin-top: 10px;
	font-size: 14px;
	color: #54545e
}

.mainFooter-link {
	border-bottom: 1px solid #54545e
}

.paymentsWrapper {
	padding-right: 10px
}

.payments+p {
	margin-top: 10px;
	font-size: 14px;
	color: #54545e
}

.order-md-4 {
	order: 4
}

.order-md-8 {
	order: 8
}

.col-md-5 {
	flex: 0 0 41.66667%;
	max-width: 41.66667%
}

.col-md-2 {
	flex: 0 0 16.66667%;
	max-width: 16.66667%
}

.miniLogo {
	width: 90px;
	margin: 0 auto;
	overflow: hidden
}

.search-form .btn-search,
.mje-request-default .plus-circle,
.btn-button,
.btn-submit {
	box-shadow: 1px 3px 9px #6ACBDA
}

.progress-bar ul li.active span {
	box-shadow: 2px 5px 30px rgba(39, 174, 96, 0.7)
}

.line-distance:before {
	background: rgba(39, 174, 96, 0.7)
}

._10nar-dropdown ._10nar-dropdown-login:before,
.list-price li .outer-payment-items:hover {
	border-bottom-color: #128ea1
}

.post-job li:hover:before {
	border-right-color: #128ea1
}

.dashboard .information-items-detail .nav-tabs>li.active>a,
.mjob-dispute-form .compose,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
.loading .loading-img,
.set-status .tooltip>.tooltip-arrow {
	border-top-color: #6ACBDA
}

#_10nar-header ._10nar-pull-top {
	background: #fff
}

.btn-submit:hover {
	background-color: #128ea1
}

#footer {
	background: #22222c;
	padding: 40px 0 0;
	color: #fff;
	position: relative;
	z-index: 99
}

.btn-submit,
.search-form .btn-search,
#_10nar-nav .navbar-default .navbar-nav>.active>a,
#_10nar-nav .navbar-default .navbar-nav>.active>a:focus,
#_10nar-nav nav ul li.active a:before {
	background: #4E9DD5
}

.block-intro-how .text-information .icon {
	background: #4E9DD5
}

._10nar .color-customize,
.block-intro-how .steps .number-steps {
	color: #4E9DD5
}

.block-intro-how .steps .number-steps,
.block-intro-how .steps:before,
.block-intro-how .text-information .steps-line {
	border-color: #4E9DD5
}

.mainMenu {
	display: flex;
	position: relative;
	align-items: center;
	height: 80px;
	margin-left: auto
}

.mainMenu>* {
	margin-left: 22px
}

.mainMenu__item {
	display: block;
	position: relative;
	padding: 0;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: currentcolor;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	line-height: var(--mainMenu__item-lineHeight);
	list-style-type: none;
	color: #22222c
}

.mainMenu__item.btn-seller {
	color: #fff;
	padding: 0 10px
}

.mainMenu a {
	flex-shrink: 0
}

.btn-seller {
	padding: 0 10px;
	border-radius: 2px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	text-transform: uppercase;
	line-height: 38px;
	background-color: #6ACBDA;
	border: 1px solid #19a68a;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1
}

.btn-seller:hover {
	background-color: #128ea1
}

.btn {
	display: block;
	width: 100%;
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: 600
}

.btn-greyLight {
	padding: 0 10px;
	border-radius: 2px;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	color: #54545e;
	background: #efeff3
}

.d-sm-block {
	display: block!important
}

.sA-name {
	display: flex;
	margin: 4px 0 6px;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	color: #54545e;
	flex-shrink: 0
}

.sA-name span {
	color: #999
}

.sA-name__nd {
	font-style: normal
}

.flexTextOverflowEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.serviceAuthor {
	display: flex;
	z-index: 10;
	position: relative;
	margin-top: 0;
	max-height: 47px;
	overflow: hidden;
	font-size: 0
}

.sA-avatar {
	position: relative;
	flex-shrink: 0;
	display: flex;
	margin-right: 15px;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	font-weight: 600;
	background-color: #f8f8fa;
	background-position: 50%;
	background-repeat: no-repeat
}

.badgeVerified {
	position: relative;
	margin-left: 8px
}

.alignItemsCenter {
	align-items: center
}

.displayFlex {
	display: flex
}

.countComments {
	margin-left: 8px;
	font-size: 12px;
	color: #999
}

.siteAvis .stars {
	margin-bottom: 0
}

.stars {
	margin-bottom: 0;
	display: flex;
	align-items: center;
	color: #54545e
}

.stars .star {
	flex-shrink: 0;
	font-size: 0
}

.stars .star+.star {
	margin-left: 5px
}

.mainFooter {
	color: #fff;
	padding: 62px 0 87px;
	font-size: 14px;
	line-height: 23px;
	background-color: #22222c
}

.grid-footer {
	column-gap: 44px;
	grid-template-columns: repeat(3, minmax(176px, 1fr)) minmax(146px, 240px);
	display: grid;
	justify-content: center;
	column-gap: var(--gutter);
	row-gap: var(--gutter)
}

.mainFooter-title {
	display: block;
	margin: 0 0 17px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2
}

.stat {
	margin-bottom: 10px
}

.statItem {
	display: inline-block;
	margin-right: 7px;
	padding: 0 10px;
	border-radius: 2px;
	line-height: 30px;
	vertical-align: middle;
	color: #fff;
	background-color: #54545e
}

.siteAvis {
	padding-top: 4px
}

.siteAvis__number {
	margin-left: 15px;
	font-size: 20px
}

.siteAvis__wording {
	margin-top: 12px
}

.mainFooter__bottom {
	margin-top: 20px;
	padding-top: 33px;
	border-top: 1px solid #363640
}

.footer__row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px
}

.socials {
	text-align: right;
	font-size: 0
}

.social+.social {
	margin-left: 12px
}

.social {
	display: inline-block;
	line-height: 1.2;
	vertical-align: middle
}

.copyright {
	margin-top: 10px;
	font-size: 14px;
	color: #54545e
}

.mainFooter-link {
	border-bottom: 1px solid #54545e
}

.paymentsWrapper {
	padding-right: 10px
}

.payments+p {
	margin-top: 10px;
	font-size: 14px;
	color: #54545e
}

.order-md-4 {
	order: 4
}

.order-md-8 {
	order: 8
}

.col-md-5 {
	flex: 0 0 41.66667%;
	max-width: 41.66667%
}

.col-md-2 {
	flex: 0 0 16.66667%;
	max-width: 16.66667%
}

.miniLogo {
	width: 90px;
	margin: 0 auto;
	overflow: hidden
}

#_10nar-header ._10nar-pull-top {
	min-height: 85px;
	background: #fff;
	padding: 0 30px;
	z-index: 999
}

@media(max-width:991px) {
	#_10nar-header ._10nar-pull-top {
		padding: 0 20px;
		z-index: 9999;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
		position: fixed;
		top: 0;
		left: 0;
		right: 0
	}
	#_10nar-header ._10nar-pull-top .navbar-header {
		float: left
	}
	#_10nar-header ._10nar-pull-top .navbar-toggle {
		display: block;
		border: 0;
		color: #2a394e;
		font-size: 22px;
		margin-top: 18px
	}
	#_10nar-header #logo-site {
		padding-left: 40px
	}
}

@media(max-width:767px) {
	#_10nar-header ._10nar-pull-top {
		min-height: 66px;
		padding-left: 5px
	}
	#_10nar-header ._10nar-pull-top .navbar-toggle {
		display: block;
		border: 0;
		color: #2a394e;
		font-size: 22px;
		margin-top: 8px;
		margin-right: 0
	}
}

#_10nar-header ._10nar-pull-top .search-bar {
	margin-left: 90px;
	float: left;
	margin-top: 23px
}

@media(max-width:1199px) {
	#_10nar-header ._10nar-pull-top .search-bar {
		padding-left: 55px;
		margin-left: 0
	}
}

@media(max-width:767px) {
	#_10nar-header ._10nar-pull-top .search-bar {
		display: none!important
	}
}

#_10nar-header ._10nar-pull-top .search-bar .icon-search {
	position: relative;
	right: 30px;
	color: rgba(137, 138, 144, 0.8);
	font-size: 16px
}

#_10nar-header ._10nar-pull-top .search-bar input {
	height: 30px;
	padding-left: 0!important;
	width: 250px
}

.home ._10nar-pull-top {
	position: fixed;
	top: auto;
	width: 100%;
	z-index: 999
}

@media(max-width:767px) {
	.home ._10nar-pull-top {
		position: relative
	}
}

#footer ._10nar-pull-top {
	margin-bottom: 40px;
	background: 0;
	position: relative
}

#footer ._10nar-pull-top ul {
	margin: 0;
	padding: 0
}

#footer ._10nar-pull-top ul li {
	display: block;
	margin-bottom: 8px
}

#footer ._10nar-pull-top ul li a {
	color: #fff
}

#footer ._10nar-pull-top h3,
#footer ._10nar-pull-top h2 {
	font-size: 18px;
	margin-bottom: 30px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700
}

#footer ._10nar-pull-bottom {
	padding: 15px 0 30px 0;
	position: relative!important
}

@media(max-width:767px) {
	#footer ._10nar-pull-bottom .social-link {
		text-align: center;
		margin-top: 10px
	}
}

@media(max-width:767px) {
	#footer ._10nar-pull-bottom {
		text-align: center
	}
}

#footer ._10nar-pull-bottom a {
	color: #4E9DD5;
	font-family: "Montserrat", sans-serif;
	font-weight: 500
}

#_10nar-header #logo-site {
	float: left;
	padding-top: 5px
}

@media(max-width:991px) {
	#_10nar-header #logo-site {
		padding-top: 5px
	}
}

@media(max-width:767px) {
	#_10nar-header #logo-site {
		margin-left: 8px;
		padding-top: 0
	}
}

#_10nar-header #logo-site img {
	max-width: 150px;
	height: 48px
}

@media(max-width:767px) {
	#_10nar-header .header-left,
	#_10nar-header .header-right {
		padding: 0
	}
}

#_10nar-header .header-right {
	position: relative;
	z-index: 99;
	float: right
}

#_10nar-header ._10nar-pull-bottom {
	display: block;
	background-color: #000
}

.block-intro-what {
	text-align: center;
	margin-top: 20px
}

.block-intro-what h2 {
	font-weight: 300;
	margin: 50px 0 0 0;
	padding-bottom: 15px
}

@media(max-width:991px) {
	.block-intro-what h2 {
		margin-top: 0
	}
}

.block-intro-what h2 p {
	margin-bottom: 0
}

.block-intro-what .name-site {
	color: #3f99d3;
	font-size: 30px;
	display: inline-block
}

.block-intro-what .text-content {
	line-height: 1.7;
	font-weight: 400;
	margin: 40px 0 60px 0
}

.block-intro-how .contents {
	text-align: center;
	padding: 50px 0 80px 0
}

.block-intro-how ul {
	padding: 0
}

.block-intro-how ul li {
	display: block
}

@media(max-width:767px) {
	.block-intro-how .steps {
		display: none
	}
}

.block-intro-how .steps:before {
	content: "";
	border-bottom: 3px dashed #4E9DD5;
	padding: 11px 400px
}

@media(max-width:1199px) {
	.block-intro-how .steps:before {
		padding: 11px 332px
	}
}

@media(max-width:991px) {
	.block-intro-how .steps:before {
		padding: 11px 256px
	}
}

.block-intro-how .steps .number-steps {
	background: #fff;
	border: 3px solid #4E9DD5;
	border-radius: 50%;
	padding: 10px 16px;
	font-weight: bold;
	color: #4E9DD5
}

@media(max-width:767px) {
	.block-intro-how .text-information li:first-child .steps-line {
		display: none
	}
}

.block-intro-how .text-information .steps-line {
	height: 80px;
	border-right: 3px dashed #4E9DD5;
	position: relative;
	right: 50%;
	top: 12px
}

@media(max-width:767px) {
	.block-intro-how .text-information .steps-line {
		top: 0
	}
}

.block-intro-how .text-information .icon {
	background: #4E9DD5;
	border-radius: 50%;
	width: 175px;
	height: 175px;
	margin: 0 auto;
	padding-top: 22px;
	margin-bottom: 30px;
	margin-top: 12px
}

.block-intro-how .text-information .icon img {
	border-radius: 10%;
	width: 85px;
	z-index: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -42px;
	margin-top: -42px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	padding: 20px
}

.block-intro-how .title {
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	color: #2a394e
}