:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --gutter-L: 15px;
  --gutter-M: 12.5px;
  --gutter-S: 10px;
  --blue: #2993d1;
  --green: #4dd2b8;
  --blue-green-gradient: linear-gradient(225deg, var(--#00f), var(--green));
  --grey-100: #efeff3;
  --grey-200: #ddd;
  --grey-250: #999;
  --grey-300: #54545e;
  --grey-400: #22222c;
  --menu-line-height: 32px;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}
main {
  display: block;
}
body {
  margin: 0;
  font: 400 14px/1.428 proxima-nova, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[tabindex="-1"]:focus {
  outline: 0;
}
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-size: 2.5rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
img {
  border-style: none;
}
img,
svg {
  vertical-align: middle;
}
svg {
  overflow: hidden;
}
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  border-radius: 0;
  text-transform: none;
}
button:focus {
  outline: 5px;
}
[type="button"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
[hidden] {
  display: none !important;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: none;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 990px;
  }
}
.btn {
  color: #212529;
  vertical-align: middle;
  background: transparent 0;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-block;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  background-clip: padding-box;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: -moz-none;
  user-drag: none;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn:disabled {
  opacity: 0.65;
}
.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.close:hover {
  color: #000;
  text-decoration: none;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  appearance: none;
}
.modal {
  padding: 0 0 0 !important;
  overflow: hidden;
  outline: 0;
  padding: 0 !important;
  text-align: center;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
  max-width: 630px;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translateY(-50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  border-radius: 0;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  position: relative;
  padding: var(--gutter-L) var(--gutter-L) 12px;
  border-bottom: 0;
}
.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  z-index: 1;
  position: absolute;
  top: 24px;
  right: 29px;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem var(--gutter-L);
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  padding: 14px var(--gutter-L) var(--gutter-L);
  border-top: 0;
  text-align: inherit;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.modal-header .close,
.modal-header .close:focus,
.modal-header .close:hover {
  opacity: 1;
}
.modal-header img {
  display: block;
  margin: 0 auto;
}
.modal-footer > .btn {
  text-transform: none;
}
@media (min-width: 992px) {
  :root {
    --gutter-L: 30px;
    --gutter-M: 25px;
    --gutter-S: 20px;
  }
}
.justifyContentCenter {
  justify-content: center !important;
}
.grid-column-fullCell {
  grid-column: 1/-1;
}
.textAlignCenter {
  text-align: center !important;
}
.marginTop25px {
  margin-top: 25px !important;
}
@media (max-width: 991px) {
  .marginTop25px {
    margin-top: 10px !important;
  }
}
a,
a:focus,
a:hover {
  color: var(--#00f);
}
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}
body > * {
  flex-shrink: 0;
}
@media (max-width: 780px) {
  .container {
    width: auto;
  }
}
.btn,
.btn:active,
.btn:focus,
.btn:hover {
  text-decoration: none;
  color: #fff;
  box-shadow: none;
}
.btn svg {
  vertical-align: middle;
  margin-right: 5px;
}
.btn-default {
  font-size: 12px;
  line-height: 28px;
  background-color: #2993d1;
  padding: 0px 10px;
  border-radius: 2px;
  overflow: hidden;
}
.btn-default:hover {
  background-color: #4e9dd5;
}

.btn-medium.btn-medium {
  padding: 10px 9px 9px;
  font-size: 16px;
  line-height: 19px;
}
.btn-connect {
  display: flex;
  align-items: center;
  padding: 0 12px 0 10px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  color: #fff;
  background: #4267b2;
}
.btn-connect span {
  display: flex;
  justify-content: center;
  width: 14px;
  margin-right: 10px;
  font-size: 0;
}
.btn-connect span svg {
  margin-right: 0;
}
.btn-connect.btn-connect--google {
  background: #4285f4;
}
.btn-connect.btn-connect--email {
  background: var(--grey-100);
  color: var(--grey-300);
}

.mainBlock {
  position: relative;
  width: 100%;
  padding: var(--gutter-L) var(--gutter-L) var(--gutter-S);
  border-radius: 2px;
  overflow: hidden;
  text-align: left;
  color: var(--grey-300);
  background-color: #fff;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
}
.mainBlock > h1:first-child {
  margin-top: 0;
}
.grid-Form {
  display: grid;
  grid-gap: var(--gutter-S);
}
@media (min-width: 992px) {
  .grid-Form {
    grid-template-columns: repeat(2, 1fr);
  }
}
.modal-body p:last-child {
  margin-bottom: 0;
}
.mainContent {
  position: relative;
  flex: 1 1 auto;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .mainContent {
    width: 100%;
    padding-bottom: var(--gutter-L);
    max-width: 100%;
  }
}

.bodyTos {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--grey-400);
}

.bodyLogin {
  background-color: var(--grey-400);
  overflowx: hidden;
}
.bodyLogin:not(.bodyLogin--bigForm) .mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.bodyLogin:not(.bodyLogin--bigForm) .login {
  margin: 0 auto;
}
.login .mainLogo {
  margin-bottom: var(--gutter-M);
  text-align: center;
}
.login .mainLogo a {
  margin: 0 auto;
}

.login .btn-connect {
  justify-content: center;
  width: 100%;
  margin-left: 0;
}
@media (min-width: 570px) {
  .login {
    max-width: 400px;
  }
}
@media (max-width: 991px) {
  .login {
    padding: 15px;
    margin: 15px 0;
  }
}
@media (max-width: 991px) {
  .mainContent {
    width: 100%;
    padding-bottom: 15px;
  }
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/27776b/00000000000000003b9b0939/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/27776b/00000000000000003b9b0939/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/27776b/00000000000000003b9b0939/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/6aec08/00000000000000003b9b0935/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/6aec08/00000000000000003b9b0935/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/6aec08/00000000000000003b9b0935/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i4&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-bottom: 0;
  font-weight: 600;
}
button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
}
[type="button"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
@media (min-width: 576px) {
  .container {
    max-width: none;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 990px;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  padding: 6px 12px;
  min-height: 40px;
  border-color: #e5e5e9;
  border-radius: 2px;
  font-size: 14px;
  color: var(--grey-300);
  background-color: #f8f8fa;
  box-shadow: none;
  resize: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:focus {
  color: #495057;
  outline: 0;
  border-color: #e5e5e9;
  background-color: #fff;
  box-shadow: none;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
.positionRelative {
  position: relative;
}
.width100p {
  width: 100% !important;
}
@media (max-width: 780px) {
  .container {
    width: auto;
  }
}
@media (max-width: 526px) {
  .btn-connect {
    width: 100%;
  }
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
@media (min-width: 992px) {
  label {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .grid-Form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 991px) {
  .mainContent {
    width: 100%;
    padding-bottom: var(--gutter-L);
    max-width: 100%;
  }
}
.form-control.form-control--forgotpassword {
  padding-right: 78px;
}
.form-control.form-control--forgotpassword + a {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 15px;
}
.login .buttonsConnects.buttonsConnects--border {
  margin-bottom: var(--gutter-S);
  padding-bottom: var(--gutter-S);
  border-bottom: 1px solid #e5e5e9;
}

@media (max-width: 991px) {
  .login {
    padding: 15px;
    margin: 15px 0;
  }
}
@media (max-width: 991px) {
  .mainContent {
    width: 100%;
    padding-bottom: 15px;
  }
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/27776b/00000000000000003b9b0939/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/27776b/00000000000000003b9b0939/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/27776b/00000000000000003b9b0939/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/6aec08/00000000000000003b9b0935/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/6aec08/00000000000000003b9b0935/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/6aec08/00000000000000003b9b0935/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i4&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
}

*,
:after,
:before {
  box-sizing: border-box;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  overflow: visible;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:focus {
  color: #495057;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
.form-group {
  margin-bottom: 1rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
label {
  margin-bottom: 0;
  font-weight: 600;
}
.form-group {
  margin-bottom: 0;
  padding-bottom: 10px;
}
.form-control {
  -webkit-appearance: none;
  padding: 6px 12px;
  min-height: 40px;
  border-color: #e5e5e9;
  border-radius: 2px;
  font-size: 14px;
  color: var(--grey-300);
  background-color: #f8f8fa;
  box-shadow: none;
  resize: none;
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control:focus {
  border-color: #e5e5e9;
  background-color: #fff;
  box-shadow: none;
}
@media (min-width: 992px) {
  .form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 20px;
    font-size: 14px;
  }
  label {
    margin-bottom: 20px;
    font-size: 14px;
  }
}

.marginTop0 {
  margin-top: 0 !important;
}
.marginBottom25px {
  margin-bottom: 25px !important;
}
@media (max-width: 991px) {
  .marginBottom25px {
    margin-bottom: 10px !important;
  }
}

@media (max-width: 991px) {
  .inline-radio {
    flex-flow: column;
  }
  .inline-radio label {
    border-right: none !important;
  }
}

.btn-center {
  text-align: center;
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.form-control.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' hei…circle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

#particles-js canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  /*z-index: -1;*/
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #4E9DD5;

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

group+group {
  margin-top: 20px;
}

.inline-radio {
  display: -webkit-box;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #b6b6b6;
}

.inline-radio div {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1;
}

.inline-radio input {
  width: 100%;
  height: 30px;
  opacity: 0;
  cursor: pointer;
}

.inline-radio label {
  position: absolute;
  top: 0;
  left: 0;
  color: #b6b6b6;
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  pointer-events: none;
  border-right: 1px solid #b6b6b6;
}

.inline-radio div:last-child label {
  border-right: 0;
}

.inline-radio input:checked+label {
  background: #4E9DD5;
  font-weight: 500;
  color: #fff;
}

.logo-form {
  width: 150px;
  height: auto;
}